<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="app">
        <input type="radio" v-model="picked" value="Leon" /> 
        <input type="radio" v-model="picked" value="Mike" /> 
        <input type="radio" v-model="picked" value="Emilly" /> 
    </div>

    <script>
        const App = {
            data() {
                return {
                    picked: ''
                }
            },
            watch: {
                picked(newValue) {
                    console.log(newValue);
                }
            }
        };
        
        const vm = Vue.createApp(App).mount('#app');
    </script>
</body>
</html>
